<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="electricity.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Document</title>
  </head>
  <body>
    <h1>ELECTRICITY BILL</h1>
    <div style="border: 5px,black;">
      <ul>
        <li>customerName: {{users.customerName}}</li>
        <li>counterNo: {{users.counterNo}}</li>
        <li>totalMonths: {{users.totalMonths}}</li>
        <li>dateOfEnquiry: {{users.dateOfEnquiry}}</li>

        <!-- <li>Age: {{this.age}}</li> -->
        <br />
      </ul>
    </div>

  </body>
</html>