<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="electricity.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
<<<<<<< HEAD
    <div class="electricity-bill">
      <h1>ELECTRICITY BILL</h1>
      <ul>
        <li>customerId: {{users.customerId}}</li>
=======
    <h1>ELECTRICITY BILL</h1>
    <div style="border: 5px,black;">
      <ul>
>>>>>>> 72694576ee0d1b36cad761455d04cde801a84388
        <li>customerName: {{users.customerName}}</li>
        <li>counterNo: {{users.counterNo}}</li>
        <li>totalMonths: {{users.totalMonths}}</li>
        <li>dateOfEnquiry: {{users.dateOfEnquiry}}</li>
<<<<<<< HEAD
      </ul>
    </div>
=======

        <!-- <li>Age: {{this.age}}</li> -->
        <br />
      </ul>
    </div>

>>>>>>> 72694576ee0d1b36cad761455d04cde801a84388
  </body>
</html>
