<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="electricity-bill">
      <h1>ELECTRICITY BILL</h1>
      <ul>
        <li>customerId: {{users.customerId}}</li>
        <li>customerName: {{users.customerName}}</li>
        <li>counterNo: {{users.counterNo}}</li>
        <li>totalMonths: {{users.totalMonths}}</li>
        <li>dateOfEnquiry: {{users.dateOfEnquiry}}</li>
      </ul>
    </div>
  </body>
</html>
